*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: azure;

}

h1{
    color: goldenrod;
    
}

.container{
width: 500px;
height: 620px;
border: 1px solid;
border-radius: 10px;
background-color: #fff;
display: flex;
flex-direction: column;
padding: 40px;
justify-content:space-around;
}

.container h1{
text-align: center;
}


.container img
{
    height: 100px;
    width: 100px;
}

.container select 
{
   width: 50px;
    border:2px solid black;
}

.owner{
width: 70%;
margin-right: 72px;
}

.selection{
display: flex;
justify-content: space-between;
align-items: center;

}

.selection input{
padding: 10px 20px;
}

.col button
{
 background-color:#4bf32a; 
 text-align: center;
 padding: 10px;
 border-radius: 10px;
 border: none;
 text-transform: uppercase;
 color: #fff;
 font-size: 18px;
 transition: 0.5s;
}
.col button:hover
{
background-color: greenyellow  ;
}
